body {
    background-color: #f1ecdf;
    color: #000000;
    font-family: "Itim", cursive;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #c7ba99;
    height: 50px;
    max-height: 25px;
    padding: 20px;
    font-weight: 300;
    font-size: large;
}

nav {
    background-color: #c7ba99;
    height: 50px;
    padding: 10px 10px;
}

header,
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

nav{
    top: 50px;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    transition: background 1s;
    transform: translateX(0) scale(1);
}

#themeToogle {
    margin-left: 1100px;
    padding:5px 10px 5px 10px;
}

a:hover {
    background-color: #000000;
    color: #c7ba99;
    border-radius: 4px;
    transform: translateX(10px) scale(1.15);

}

main {
    display: flex;    
    flex-grow: 1;
    margin-top: 130px;
    height: 100vh;
}

aside {
    background-color: #c7ba99;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 20%;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

section {
    background-color: #d4c9ad;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px  ;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    background-color: #d4c9ad;
    padding: 10px;
    text-align: center;
}   

.titulos{
    padding: 0px 0px 10px 0px;
}

.subtitulos{
    padding: 10px 0px 10px 0px;
}

.conteudo{
    padding: 0px 10px;
}

li{
    padding: 0px 10px;
}


/* CSS referente ao Currículo */

body.dark {
    background-color: #0D0D0D;
    color: #ffffff;
}

.dark header {
    background-color: #262626;
}

.dark nav {
    background-color: #262626;
}

.dark a {
    color: #ffffff;
}

.dark a:hover {
    background-color: #000000;
    color: #5a5344;
}

.dark aside {
    background-color: #262626;
}

.dark section {
    background-color: #595959;
}

.dark footer {
    background-color: #262626;
}

/* CSS referente ao Currículo */